*{
  box-sizing: border-box;
}
body{
  background: rgb(134, 134, 134);
}
.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
    "header header"
    "nav content";
  gap: 20px;

  max-width: 1200px;
  margin: 0 auto;
} 

.nav{
  grid-area: nav;
  background: #bbbbbb;

}



.wrapper-content{
  background: #bbbbbb;
  grid-area: content;
  min-height: calc(100vh - 80px);
}

