.link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}



.active{
    color: rgb(180, 176, 176);

}

ul{
    list-style-type: none;
    padding: 0 0 0 20px;
    
}