.listItem{
    margin: 10px 0;
    background-color: gray;
    padding: 10px;
}
.wrapper{
    display: flex;
    align-items: center;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}